In [11]:
years = range(15)

In [15]:
babies, adults = 1, 0
for y in years:
    print(y)
    msg = """
    Year:    {}
    Babies:  {}
    Adults:  {}
    Rabbits: {}
    """.format(y+1, babies, adults, babies+adults)
    print(msg)
    
    babies, adults = adults, adults+babies

0

    Year:    1
    Babies:  1
    Adults:  0
    Rabbits: 1

1

    Year:    2
    Babies:  0
    Adults:  1
    Rabbits: 1

2

    Year:    3
    Babies:  1
    Adults:  1
    Rabbits: 2

3

    Year:    4
    Babies:  1
    Adults:  2
    Rabbits: 3

4

    Year:    5
    Babies:  2
    Adults:  3
    Rabbits: 5

5

    Year:    6
    Babies:  3
    Adults:  5
    Rabbits: 8

6

    Year:    7
    Babies:  5
    Adults:  8
    Rabbits: 13

7

    Year:    8
    Babies:  8
    Adults:  13
    Rabbits: 21

8

    Year:    9
    Babies:  13
    Adults:  21
    Rabbits: 34

9

    Year:    10
    Babies:  21
    Adults:  34
    Rabbits: 55

10

    Year:    11
    Babies:  34
    Adults:  55
    Rabbits: 89

11

    Year:    12
    Babies:  55
    Adults:  89
    Rabbits: 144

12

    Year:    13
    Babies:  89
    Adults:  144
    Rabbits: 233

13

    Year:    14
    Babies:  144
    Adults:  233
    Rabbits: 377

14

    Year:    15
    Babies:  233
    Adults:  377
    Rabbits: 610